version: '3.7'

services:
  db:
    image: mysql:5.7
    container_name: "${CONTAINER_PREFIX}_db"
    volumes:
     - ./mysql/data:/var/lib/mysql
     - ./mysql/init:/docker-entrypoint-initdb.d
    environment:
     - MYSQL_RANDOM_ROOT_PASSWORD=yes
     - MYSQL_DATABASE
     - MYSQL_USER
     - MYSQL_PASSWORD
    networks:
     - localnet
  
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:4.8.2
    container_name: "${CONTAINER_PREFIX}_phpmyadmin"
    depends_on:
      - db
    ports:
     - "${PHPMYADMIN_PORT}:80"
    environment:
     - MYSQL_DATABASE
     - MYSQL_USER
     - MYSQL_PASSWORD
    networks:
     - localnet

  web:
    build: ./php
    container_name: "${CONTAINER_PREFIX}_web"
    restart: 'always'
    depends_on:
     - db
    ports: 
     - "${WEB_PORT}:80"
    networks:
     - localnet
    volumes:
     - ./app:/var/www/html
     - ./logs/apache2:/var/log/apache2

networks:
  localnet:
    name: "${CONTAINER_PREFIX}_net"
