version: '3.7'

services:
  db:
    image: mysql:5.7
    container_name: "${CONTAINER_PREFIX}_db"
    volumes:
     - ./mysql/data:/var/lib/mysql
     - ./mysql/init:/docker-entrypoint-initdb.d
    env_file:
     - mysql.env
    networks:
     - localnet
  
  web:
    image: phpmyadmin/phpmyadmin:4.8.2
    container_name: "${CONTAINER_PREFIX}_web"
    restart: always
    depends_on:
      - db
    ports:
     - "8000:80"
    env_file:
     - mysql.env
    networks:
     - localnet

networks:
  localnet:
